src/conf/xml-resources/web-service-references/FitnessCalcWS/wsdl/localhost_8080/FitnessCalcProjectWeb/FitnessCalcWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://fitnessCalc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://fitnessCalc.com/" name="FitnessCalcWS">
<types>
<xsd:schema>
<xsd:import namespace="http://fitnessCalc.com/" schemaLocation="http://localhost:8080/FitnessCalcProjectWeb/FitnessCalcWS?xsd=1"/>
</xsd:schema>
</types>
<message name="displayInformation">
<part name="parameters" element="tns:displayInformation"/>
</message>
<message name="displayInformationResponse">
<part name="parameters" element="tns:displayInformationResponse"/>
</message>
<message name="determineAge">
<part name="parameters" element="tns:determineAge"/>
</message>
<message name="determineAgeResponse">
<part name="parameters" element="tns:determineAgeResponse"/>
</message>
<message name="determineBMI">
<part name="parameters" element="tns:determineBMI"/>
</message>
<message name="determineBMIResponse">
<part name="parameters" element="tns:determineBMIResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="FitnessCalcWS">
<operation name="displayInformation">
<input wsam:Action="http://fitnessCalc.com/FitnessCalcWS/displayInformationRequest" message="tns:displayInformation"/>
<output wsam:Action="http://fitnessCalc.com/FitnessCalcWS/displayInformationResponse" message="tns:displayInformationResponse"/>
</operation>
<operation name="determineAge">
<input wsam:Action="http://fitnessCalc.com/FitnessCalcWS/determineAgeRequest" message="tns:determineAge"/>
<output wsam:Action="http://fitnessCalc.com/FitnessCalcWS/determineAgeResponse" message="tns:determineAgeResponse"/>
</operation>
<operation name="determineBMI">
<input wsam:Action="http://fitnessCalc.com/FitnessCalcWS/determineBMIRequest" message="tns:determineBMI"/>
<output wsam:Action="http://fitnessCalc.com/FitnessCalcWS/determineBMIResponse" message="tns:determineBMIResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://fitnessCalc.com/FitnessCalcWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://fitnessCalc.com/FitnessCalcWS/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="FitnessCalcWSPortBinding" type="tns:FitnessCalcWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="displayInformation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="determineAge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="determineBMI">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FitnessCalcWS">
<port name="FitnessCalcWSPort" binding="tns:FitnessCalcWSPortBinding">
<soap:address location="http://localhost:8080/FitnessCalcProjectWeb/FitnessCalcWS"/>
</port>
</service>
</definitions>